@font-face {font-family: "SmoothMarker"; src: url('./smooth-marker-font/SmoothMarker-45d6.ttf');}
@font-face {font-family: "WhiteboardRegular"; src: url('./WhiteboardRegular-O7gp.ttf');}
@font-face {font-family: "WhiteboardMarker"; src: url('./DryWhiteboardMarker-Regular.ttf');}
.main-container {
    display: grid;
    grid-template: repeat(5, 20%) / repeat(3, 33%);
    height: 100vh;
}

.display-container {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cecece;
}

.display {
    font-family: WhiteboardMarker;
    font-size: 50px;
    border: 5px grey solid;
    border-bottom: 10px black solid;
    background-color: white;
    height: 350px;
    text-align: center;
    display: grid;
    grid-template-rows: 50% 50%;
    align-content: center;
}

.display > *{
    padding: 50px 0;
}

.action-container {
    padding: 0 36px;
}

.rock-container {
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    background-color: #3c3b6e;
}

.paper-container {
    grid-area: 3 / 2 / 6 / 3;
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    background-color: #cecece;
}

.scissors-container {
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    background-color: #b42033;
}

.action-btn {
    font-size: 36px;
    border: 5px grey solid;
    border-radius: 12px;
    height: 150px;
    box-shadow: -2px 8px rgb(30, 30, 30);
}

.action-btn:hover {
    background-color: rgb(218, 218, 218);
}

.action-btn:active {
    box-shadow: -2px 2px rgb(30, 30, 30);
    transform: translateY(6px);
}

#rock {
    grid-row: 4;
    border-color: blue;
}

#paper {
    grid-row: 2;
}

#scissors {
    grid-row: 4;
    border-color: red;
}

.reset-btn {
    font-family: 'Material Icons';
    font-size: 36px;
}

.grey {
    color: white;
    background-color: grey;
}

.grey:hover {
    background-color: grey;
}